*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 34px;
    padding-bottom: 34px;
}

.heade-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    align-items: center;
    margin-right: auto;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #171717;
}

.header-menu-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-menu-link {
    font-size: 14px;
    color: #171717;
}

.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/img/hero-img.jpg);
    background-size: cover;
    margin-bottom: 60px;
}

.hero-container {
    padding-top: 490px;
    padding-bottom: 59px;
}

.hero-text {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.hero-title {
    max-width: 570px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    color: #fff;
    margin-bottom: 10px;
}

.hero-data {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.hero-data span {
    color: #b4b4b4;
}

/* ======================================== */

.work-area {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1170px;
    gap: 130px;
    margin: 0 auto;
}

.work-page {
    display: flex;
    flex-direction: column;
}

.post-kind-container {
    max-width: 770px;
    padding: 0;
    margin-bottom: 60px;
}

.post-kind-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container-seidbar {
    max-width: 270px;
}

.right-seidbar {
    display: flex;
    flex-direction: column;
}

.author-img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.sidebar-img {
    width: 100%;
    height: 100%;
}

.post-kind-item {
    width: calc((100% - 30px) / 2);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post-kind-img {
    margin-bottom: 15px;
}

.post-kind-subtitle {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #c9a96e;
    margin-bottom: 4px;
}

.post-kind-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #171717;
    width: 275px;
}

.post-kind-text {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    margin-bottom: 14px;
}

.post-kind-text span {
    color: #b1b1b1;
}

/* ============================================== */

.summer-container {
    max-width: 770px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.summer-wrap {
    padding-left: 30px;
    padding-bottom: 25px;
}

.summer-img {
    margin-bottom: 25px;
}

.summer-subtitle {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #c9a96e;
    margin-bottom: 6px;
}

.summer-title {
    font-weight: 400;
    font-size: 20px;
    color: #171717;
    margin-bottom: 11px;
}

.summer-data {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    margin-bottom: 14px;
}

.summer-data span {
    color: #b1b1b1;
}

.summer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #666;
}

/*=================================*/

.insta-widget-container {
    max-width: 1420px;
    margin-bottom: 100px;
}

.insta-widget-title {
    display: block;
    text-align: center;
    margin-bottom: 39px;

    font-weight: 400;
    font-size: 24px;

    color: #171717;
}

.insta-widget-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 21px;
}

.insta-widget-img {
    width: calc((100% - 105px) / 6);
}

.insta-widget-img {
    width: 100%;
    height: 100%;
}

/* ================================= */

.author {
    margin-bottom: 70px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.author-title {
    border: 1px solid #e5e5e5;
    width: 270px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #171717;
    margin-bottom: 34px;
}

.author-name {
    font-weight: 700;
    font-size: 16px;
    color: #171717;
    text-align: center;
}

.author-catrgory {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #b1b1b1;
    margin-bottom: 14px;
}

.author-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #666;
    margin-bottom: 27px;
}

.author-more {
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #c9a96e;
    text-align: center;
    padding-bottom: 12px;
}

/*================================*/

.featured-title {
    border: 1px solid #e5e5e5;
    width: 270px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #171717;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
}

.sidebar-item {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.sidebar-img {
    margin-bottom: 15px;
}

.sidebar-subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #c9a96e;
    margin-bottom: 4px;
}

.sidebar-title {

    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: #171717;
    margin-bottom: 10px;
}

.sidebar-text {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: 14px;
}

/*====================================*/
.categories {
    margin-bottom: 69px;
}

.categories-title {
    width: 270px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #171717;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.categories-item {
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.categories-link {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    justify-content: space-between;
}

.categories-link-span {}

/* ===================================== */
.footer {
    padding: 0;
}

.footer-container {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;

}

.footer-logo {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #171717;
    text-align: center;
    margin-bottom: 60px;
}

.footer-menu-list {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    gap: 20px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
    gap: 20px;
}

.footer-soc-item {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E5E5;
}

.footer-soc-list li:nth-child(2) {
    background-color: #C9A96E;
}

.footer-soc-list li:nth-child(2) .soc-link-icon {
    fill: #FFFFFF;

}

.footer-soc-item .soc-link-icon {
    display: block;
    margin: 8px;
}

.soc-link-icon {
    display: block;
    fill: #666666;
    display: block;
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 29px;
}